body{
  font-family: sans-serif;
}

input{
  border-radius: 3px;
  border: none;
  padding:6px 16px;
}

button{
  padding: 8px;
  border-radius: 3px;
  border: none;
}

.title{
  text-align: center;
  font-weight: bold;
}

p{
  margin: 0;
}

.input-area{
  background: rgb(22, 212, 255);
  width: 400px;
  height: 30px;
  padding: 16px;
  border-radius: 5px;
}

.discomplete-area,
.complete-area{
  width: 400px;
  border: #3333 2px solid;
  border-radius:3px;
  margin: 8px 0;
  padding: 16px;
  min-height: 150px;
}

.complete-area{
  background: #80d0ff;
}


.list-row{
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}